<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>デバッグ画面</title>
</head>

<body>
  <h1>デバッグ画面</h1>

  <!-- 駒とルールの一覧 -->
  <div th:if="${komaList}">
    <h2>駒とルールの一覧</h2>
    <table border="1">
      <thead>
        <tr>
          <th>駒ID</th>
          <th>駒名</th>
          <th>ルールIDリスト</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="koma : ${komaList}">
          <td th:text="${koma.id}"></td>
          <td th:text="${koma.name}"></td>
          <td th:text="${koma.rules}"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ゲーム情報 -->
  <div th:if="${games}">
    <h2>ゲーム一覧</h2>
    <p th:each="game : ${games}">
      <strong>ゲームID:</strong> <span th:text="${game.id}"></span><br />
      <strong>最終更新時間:</strong> <span th:text="${game.lastActivity}"></span><br />
    </p>
  </div>

  <!-- 待機中のプレイヤー一覧 -->
  <div th:if="${waitPlayers}">
    <h2>待機中のプレイヤー一覧</h2>
    <ul>
      <li th:each="player : ${waitPlayers}" th:text="${player}"></li>
    </ul>
  </div>

  <p><a href="/home">ホームに戻る</a></p>
</body>

</html>
