<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:href="@{/global.css}" rel="stylesheet">
  <title>ホーム</title>
</head>

<body>
  <h1>ホーム画面</h1>
  <div th:if="${selectedDeckId != null}">
    <p>デッキ名：<span th:text="${deckname}">デッキ名</span></p>
    <p>内容：<span th:text="${sfen}">SFEN</span></p>
  </div>
  <div th:if="${selectedDeckId == null}">
    <p>選択されたデッキはありません</p>
  </div>
  <div th:if="${infoMessage != null}" style="color:red;border-radius:4px;">
    <p th:text="${infoMessage}"></p>
  </div>
  <a href="/match">マッチ</a><br />
  <a href="/deck/make">デッキ作成</a><br />
  <a href="/deck/select">デッキ一覧</a><br />
  <a href="/logout">ログアウト</a>
</body>

</html>
